footer
  background-color #3c545b
  height 82px
  span
    color #6c97a6
    font-size 1.125rem
    &:last-child
      font-family OpenSansCondensedBold
      font-weight bold
      font-size: 1.625rem
