header
  height: 118px
  background-color: rgba(255, 255, 255, 0.21)

.navbar
  height: 100%

  &-nav
    margin: auto

.nav-link
  font-size: 1rem
  color: rgb(157, 174, 182)
  font-weight: bold
  text-transform: uppercase

.logo
  font-size: 1.75rem
  font-family: Bringin
  color: #95a5ad !important
  line-height: 1.517
  span
    color: rgb(54, 174, 234)
