header
  height: 90px
  background-color: rgba(255, 255, 255, 0.21)

  .custom-button
    margin-left auto

.navbar
  height: 100%

  &-nav
    margin-left: 50px

.nav-link
  font-size: 1rem
  color: rgb(157, 174, 182)
  font-weight: bold
  text-transform: uppercase

.logo
  font-size: 1.75rem
  font-family: Bringin
  color: #95a5ad !important
  line-height: 1.517
  span
    color: rgb(54, 174, 234)
.TRAVEL_WITH_US_to_the_Mountains {
  font-size: 50px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 432.138px;
  top: 255.087px;
  width: 438px;
  height: 85px;
  z-index: 31;
}
