header
  height: 90px
  transition: background-color .4s ease-in-out
  background-color: rgba(255, 255, 255, 0.21)

  .button
    margin-left auto

.navbar
  height: 100%

  &-nav
    margin-left: 50px


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
    border-bottom: 2px solid #36aeea
    color: #9daeb6

.nav-link
  font-size: 0.75rem
  color: #9daeb6
  font-weight: bold
  text-transform: uppercase

.logo
  font-size: 1.75rem
  font-family: Bringin
  color: #95a5ad !important
  line-height: 1.517

  span
    color: rgb(54, 174, 234)

.navbar-toggler
  position relative
  border: none
  &:focus,
  &:active
    outline: 0
  & span
    display: block
    background-color: #444
    height: 3px
    width: 25px
    margin-top: 4px
    margin-bottom: 4px
    transform: rotate(0deg)
    position: relative
    left: 0
    opacity: 1

  & span:nth-child(1)
  & span:nth-child(3)
    transition: transform .35s ease-in-out

  &:not(.collapsed)
    & span:nth-child(1)
      position: absolute
      left: 12px
      top: 10px
      -webkit-transform: rotate(135deg)
      -moz-transform: rotate(135deg)
      -o-transform: rotate(135deg)
      transform: rotate(135deg)
      opacity: 0.9

    & span:nth-child(2)
      height: 12px
      visibility: hidden
      background-color: transparent

    & span:nth-child(3)
      position: absolute
      left: 12px
      top: 10px
      transform: rotate(-135deg)
      opacity: 0.9

@media only screen and (max-width: 991px)
  header
    background-color: white !important

  .responsive-navigation
    background-color white
    top: -3px
    margin 0 -15px
    width 100%
    position relative
    ul
      margin-left 0
      align-items  center
      li
        height 45px


