.about-us
  background: #f6f4f4
  min-height: 667px
  position relative
  h4
    text-align left
    span
      display block

  &:before
    content: " "
    background: url("/img/map_dotted.png") no-repeat center center
    background-size: contain
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  &-text
    position relative
    padding-top 205px
    width: 32%
    p
      font-size: 1rem
      color: rgb(148, 148, 148)
      line-height: 1.857
      text-align: left

.img-block
  z-index 1
  position absolute
  width: 50%
  height: 100%
  top: 0
  right 0

  & img
    position absolute
    &:first-child
      max-width 100%
      top: -40px
      right: 0
    &:last-child
      top: 244px
      right: 61%
      max-width: 60%

@media only screen and (max-width: 991px)
  .img-block
    top: 100px
    & img
      &:first-child
        top: 0

@media only screen and (max-width: 767px)
  .about-us
    min-height: 557px

  .img-block
    width 70%
    top: 85%
    & img
      position absolute
      &:first-child
        max-width 100%
        top: 0
        right: 0
      &:last-child
        display none

  .about-us-text
    padding-top: 40px
    width 100%

@media only screen and (max-width: 575px)
  .img-block
    display none

  .about-us
    min-height: 400px
    h4
      text-align center
    button
      width 100%
