.bg-header
  background url("/img/background-image-copy.jpg") no-repeat center center
  background-size: cover
  height: 700px
  & p
      font-size: 1.286rem
      color: rgba(255, 255, 255, 0.749)
      line-height: 1.611
      text-align: left
      padding: 40px 0

.title-bg-header
  letter-spacing: 7px
  font-size: 3.5rem
  color: rgb(255, 255, 255)
  font-family OpenSansRegular
  text-transform: uppercase
  text-align: left

.bringin-font
  font-family: Bringin
  font-size: 3.5rem
  color: #56c7ff
  line-height: 0.3
  text-align: left

@media only screen and (max-width: 391px)
  .bringin-font
    line-height: 0.8

@media only screen and (max-width: 990px)
  .bg-header
    background-position 0

@media only screen and (max-width: 600px)
  .bg-header
    button
      width 100%
  .bringin-font
    font-size: 3rem
  .title-bg-header
    letter-spacing: 0
    font-size: 2.4rem

