.bg-header
  background url("/img/background-image-copy.jpg") no-repeat center center
  background-size: cover
  height: 700px
  & p
      font-size: 1.286rem
      color: rgba(255, 255, 255, 0.749)
      line-height: 1.611
      text-align: left
      padding: 40px 0

.title-bg-header
  letter-spacing: 7px
  font-size: 3.5rem
  color: rgb(255, 255, 255)
  font-family OpenSansRegular
  text-transform: uppercase
  line-height: 1.2
  text-align: left

.bringin-font
  font-family: Bringin
  font-size: 3.5rem
  color: #56c7ff
  line-height: 0.3
  text-align: left


