.contact
  background url("/img/offer-bg.jpg") no-repeat center center
  background-size: cover
  padding-top: 145px
  min-height 653px
  label
    display block
  h2
    text-align:left !important
    padding-bottom 30px
    span
      display block
  p
    width: 50%
  form
    width: 75%
    padding-bottom: 10px
    .form-group
      width: 36%
    input
      width: 100% !important
    button
      width: 28%

.secure-text
  padding-left: 19px
  font-size: 0.875rem
  color: rgb(54, 174, 234)
  position relative

span.secure-text:before
  content: ""
  background: url(/img/locked.png)
  position: absolute
  height: 16px
  width: 14px
  top: 2px
  left: 0

@media only screen and (max-width: 991px)
  .contact
    form
      width 100%

@media only screen and (max-width: 600px)
  .contact
    padding-top 40px

    .waves
      margin auto

    h2
      text-align center !important
      font-size 1.5rem

    form .form-group
      margin-bottom 25px
      width: 100%

    p
      width 100%

    .form-inline
      width 100%
      justify-content center

      button
        width 100%


