.contact
  background url("/img/offer-bg.jpg") no-repeat center center
  padding: 73px 0 90px 0
  h2
    text-align:left !important
  p
    width: 50%
  form
    width: 70%
    padding-bottom: 10px
    .form-group
      width: 35%
    input
      width: 100% !important
    buttons
      width: 29%
      margin-left: 1%

.secure-text
  padding-left: 3px
  font-size: 0.875rem
  color: rgb(54, 174, 234)
