.gallery
  background-color: white
  min-height 940px
  padding: 73px 0 90px 0
  h2
    span
      display block

.grid
  max-width: 1200px


/* clearfix */
.grid:after
  content: ''
  display: block
  clear: both


/* ---- grid-item ---- */
.grid-item
  margin-bottom 15px
  width: auto
  height auto
  float: left

@media only screen and (max-width: 600px)
  .grid-item
    img
      max-width 100%

/*.grid-item-width--2
  width: 361px

.grid-item-width--3
  width: 456px*/

/*.grid-height
  height: 343px

.grid-height--2
  height: 282px

.grid-height--3
  height 243px

.grid-height--4
  height: 382px*/


