.gallery
  background-color: white
  min-height 940px
  padding: 73px 0 90px 0

.masonry  /* Masonry container */

.masonry .grid-sizer {
  width:  calc( ( 100% - 60px ) / 3 );
  float: left;
  margin-bottom: 20px;
}
.item.w2 { width:  calc( ( 100% - 6px ) * ( 2 / 3 ) + 3px ); }
.item.w3 { width:  100%; }
