.how-we-work
  background-color: white
  min-height 646px
  padding: 73px 0 0 0

  h2
    span
      display block

  h4
    font-size: 1.125rem

.circle
  border-radius: 100%

  &--grey
    margin auto
    width: 180px
    background: #f0f3f6
    height: 180px

  &--blue--small
    display: flex
    align-items: center
    justify-content: center
    color #60aeff
    width: 50px
    height: 50px
    background: white
    border solid 2px #60aeff

.steps-padding
  margin 75px 0 0

.dotting-line
  background url("/img/Shape-166.png") repeat-x center
  width: calc(100% - 130px)
  &--rotate
    background url("/img/Shape-1661.png") repeat-y center
    width: 2px
    height: 50px
    padding: 0 90px

.hexagon
  position: relative
  width: 115px
  height: 66.40px
  background-color: white
  margin: auto
  top: 59px
  left: 0

  &:before,
  &:after
    content: ""
    position: absolute
    z-index: 1
    width: 81.32px
    height: 81.32px
    -webkit-transform: scaleY(0.5774) rotate(-45deg)
    -ms-transform: scaleY(0.5774) rotate(-45deg)
    transform: scaleY(0.5774) rotate(-45deg)
    background-color: inherit
    left: 16.8414px

  &:before
    top: -40.6586px

  &:after
    bottom: -40.6586px
    box-shadow: 0 0 15px rgba(0,0,0,0.6)

   /*cover up extra shadows*/
  & span
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top:0
    left: 0
    width:115px
    height:66.3953px
    z-index: 2
    background: inherit

.text-how-we-work
  max-width 180px
  padding-top 30px
  & p
    text-align center
    color #949494
ul.steps
  display flex
  position relative
  padding-left 0
  padding-top 0
  justify-content space-between
  width 100%
  li
    list-style none
    position relative

@media only screen and (min-width: 768px)
  .steps-numeration
    position relative
    display: flex
    align-items: center
    justify-content: center
    color #60aeff
    left: calc(50% - 25px)
    top: -50px
    width: 50px
    height: 50px
    background: white
    border solid 2px #60aeff
    border-radius: 100%

  .text-how-we-work
    max-width 100%

  ul.steps
    padding-top 75px
    &:before
      content ""
      background url("/img/Shape-166.png") repeat-x center
      position: absolute
      top: 49px
      height: 2px
      left: 93px
      width: calc(100% - 202px)
    li
      max-width 218px
      &:after
        background: url(/img/Shape-1661.png) repeat-y center
        position: absolute
        width: 2px
        height: 50px
        top: 0
        left: 50%
        content: " "
      &.step-1:before
        content: "1"
        @extend .steps-numeration

      &.step-2:before
        content: "2"
        @extend .steps-numeration

      &.step-3:before
        content: "3"
        @extend .steps-numeration

      &.step-4:before
        content: "4"
        @extend .steps-numeration

@media only screen and (min-width: 768px) and (max-width:991px)
  ul.steps
    li
      max-width 180px


@media only screen and (max-width: 600px)
  .how-we-work
    padding-top 40px

    h2
      padding-bottom 25px
      font-size 1.5rem

@media only screen and (min-width: 560px) and (max-width: 767px )
  .how-we-work
    padding-top 40px
    h2
      padding-bottom 25px
  ul.steps
    li
      width 50%
      display flex
      flex-direction column
      align-items center