.journal
  background-color: white
  min-height 1066px
  padding: 73px 0 90px 0

  h2
    span
      display block
  img
    width 100%

  &-title
    width 50%
    position relative
    display flex
    flex-direction column
    justify-content space-between
    align-items center
    padding 35px 25px

    p
      font-size 0.875rem

    h4
      text-transform: uppercase
      font-size 1rem

    span
      font-size: 0.875rem
      color: rgb(22,181,239)
      font-weight: bold
      &:last-child
        font-size: 0.875rem
        font-style: italic
        color: rgb(33,33,33)

.journal-board
  background-color: rgb(255, 255, 255)
  opacity: 0.851
  box-shadow: 0 0 21px 0 rgba(6, 6, 6, 0.13)
  max-width 1142px
  width 100%
  margin-top 70px
  /*
  &:after
    content: ""
    clear: both
    display: block
  */

  & >div
    &:first-child
      width 66.66%

      &>div
        width 100%

    &:last-child
      width: 33.33%

      &:first-child
        width 100%

      & div:last-child
        height 100%
        width 100%

.triangle
  width: 0
  height: 0
  border-style: solid
  position absolute

  &--desktop__hide
    display none

  &--top
    top: -15px
    left: 60px
    border-width: 0 10px 15px 10px
    border-color: transparent transparent #ffffff transparent

  &--right
    top: 60px
    right: -15px
    border-width: 10px 0 10px 15px
    border-color: transparent transparent transparent #ffffff

  &--left
    top: 60px
    left: -15px
    border-width: 10px 15px 10px 0
    border-color: transparent #ffffff transparent transparent

@media only screen and (max-width: 980px)
  .journal-title
    padding: 25px 9px

  .journal-right-block
    flex-direction row !important

  .journal-board
    flex-flow column
    & >div
      &:first-child
        width 100%

      &:last-child
        width: 100%

        &>div
          width 50%

        & div:last-child
          width 50%
          height auto

  .triangle
    &__hide
      display none
    &--desktop__hide
      display block

@media only screen and (max-width: 600px)
  .journal
    padding-top 40px

    &-board
      width 90%
      margin-top 30px
    &-left-block>div
      box-shadow: 0 0 21px 0 rgba(7,7,7,.23);
    &-right-block
      flex-direction column !important
      box-shadow: 0 0 21px 0 rgba(7,7,7,.23);
    &-column-mobile
      flex-direction  column
    &-title
      max-width 320px
      width auto
      margin auto
      padding: 25px 15px
    img
      max-width 300px
      width 100%

    .w-50
      width auto !important
      margin: auto

    &-board

      & >div

        &:last-child
          width: 100%

          &>div
            width auto
            margin auto

          & div:last-child
            max-width 320px
            width auto
            margin auto
            height auto

  .order-flex__first
    order 1

  .triangle

    &--right
      top: -15px
      left: 60px
      border-width: 0 10px 15px 10px
      border-color: transparent transparent #ffffff transparent

    &--left
      top: -15px
      left: 60px
      border-width: 0 10px 15px 10px
      border-color: transparent transparent #ffffff transparent

