.journal
  background-color: white
  padding: 73px 0 90px 0
.journal-board
  background-color: rgb(255, 255, 255)
  opacity: 0.851
  box-shadow: 0 0 21px 0 rgba(6, 6, 6, 0.13)
  width: 100%
  margin-top 70px
  & >div
    width 66%
    min-width: 320px
    /*
    height 380px
    */
    /*&>div
      width 50%*/
  /*& img
    max-width 480px*/

.red
  background red
  width 50%
  height 380px
.black
  background black
  width 50%
  height 380px