.travel-with-us
  background url("/img/travel-bg.jpg") no-repeat center center
  background-size: cover
  min-height 1085px
  padding: 73px 0 450px 0

  .description
    font-size: 1rem
    color: white
    line-height: 1.375
    position: absolute
    left: 10px
    top: 50%

  h2
    padding-bottom 50px

.icon-stars
  background-image: url(/img/sprite.png)
  background-position: -9px 0
  height: 38px
  position: absolute
  top: 0
  left: 10px
  &_1
    width 20px
  &_2
    width 40px
  &_3
    width 60px
  &_4
    width 80px
  &_5
    width 100px

.place-name
    font-size: 1.75rem
    color: white
    line-height: 2.25
    position: absolute
    top: 35%
    left 10px

.old-price
  font-size: 1.125rem
  color: white
  text-decoration: line-through
  line-height: 1.222
  position: absolute
  left: 10px
  top: 89%

.actual-price
  font-size: 1.625rem
  color: white
  line-height: 0.846;
  text-align: right;
  position: absolute;
  right: 10px
  top: 89%

@media only screen and (max-width: 1039px)
  .travel-with-us .position-relative
    margin-bottom  10px

@media only screen and (max-width: 859px)
  .space-around-responsive
    justify-content: space-around !important

  .center-responsive
    justify-content: center !important

    & div
      margin-left 10px
      margin-right 10px

