.travel-with-us
  background url("/img/travel-bg.jpg") no-repeat center center
  background-size: cover
  min-height 1085px
  padding: 73px 0 450px 0

  h2
    padding-bottom 50px
    span
      display block

.place
  display flex
  width 200px
  height 382px
  flex-direction column
  justify-content center
  align-items center

  img
    position absolute
    top: 0
    left: 0

  .place-info
    position relative
    padding 15px

  .description
    font-size: 1rem
    color: white
    line-height: 1.375
  /* position: absolute
   left: 10px
   top: 50%*/


.icon-stars
  height: 38px
  position: absolute
  top: 0
  left: 10px
  width 100px

.place-name
    font-size: 1.75rem
    color: white
    line-height: 2.25

.price
  height 63px
  width 100%
  position absolute
  bottom 0
  left: 0
  color: white
  display flex
  align-items center
  justify-content space-around

.old-price
  font-size: 1.125rem
  text-decoration: line-through
  line-height: 1.222

.actual-price
  font-size: 1.625rem
  line-height: 0.846
  text-align: right

.stars
  height: 100%
  background-image: url(/img/sprite.png)
  background-position: -9px 0

@media only screen and (max-width: 1039px)
  .travel-with-us .position-relative
    margin-bottom  10px

@media only screen and (max-width: 859px)
  .space-around-responsive
    justify-content: space-around !important

  .center-responsive
    justify-content: center !important

    &>div
      margin-left 10px
      margin-right 10px

@media only screen and (max-width: 600px)
  .travel-with-us
    padding: 40px 0 40px 0

    h2
      padding-bottom 25px
      font-size 1.5rem
